body {
    background-color: #ff69b4;
    color: white;
}

.happyboi {
    background-color: white;
    color: turquoise;
    font-size: 69px;
}

.ohnooo {
    border-style: dashed;
    border-color: lime;
}

#imHereToCommitSuicideAndPostMemesAndImAllOutOfMemes {
    width: 100%;
    background-color: wheat;
    padding: 10px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
}

.lolimsorandomimageclasslol {
    width: 400px;
}

.invisiballs {
    background-color: white;
}